<div class="side-menu">
  <div class="admin-filters">
    <div class="flex-header">
      <h2>Filters</h2>
      <%= link_to("Reset", admin_root_path(search: nil), class: "btn-round-transparent blue") %>
    </div>
    <div class="flex-filter-item">
      <label for="">Deleted</label>
      <%= toggle_show_or_hide_deleted_button %>
    </div>
    <div class="flex-filter-item">
      <form>
        <label for="">Search</label>
        <p class="wrapper"><input name="search" value="<%= params[:search] %>" placeholder=" search here" /></p>
      </form>
    </div>
  </div>
</div>
