$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import '~bootstrap/scss/bootstrap';

$font: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
$font-bold: "Roboto", "Helvetica Neue", sans-serif;

@import "../src/stylesheet/contact";
@import "../src/stylesheet/shared/footer";
@import "../src/stylesheet/shared/navbar";
@import "../src/stylesheet/artists";
@import "../src/stylesheet/song";
@import "../src/stylesheet/songs";
@import "../src/stylesheet/members";

body {
  font-family: $font;
  font-size: 10px;
  height: 100%;
  margin: 0;
  background-image:
    radial-gradient(
      circle at top right,
      rgba(186, 43, 38, 0.7),
      rgba(57, 23, 106, 1) 50%),
      url('../images/paris-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  input:focus {outline:0;}
  button:focus {outline:0;}
  .main-content {
    min-height: 100vh;
  }
}
h1 {
  color: white;
}
h3 {
  margin-top: 0;
}

a.clean {
  &:hover {
    text-decoration: none !important;
    color: white !important;
  }
}

.navbar {
 display: flex;
 justify-content: space-around;
}

.button-standard {
  min-width: 160px;
  height: 43px;
  text-align: center;
  font-size: 1.6em;
  line-height: 20px;
  font-weight: 400;
  border-radius: 50px;
  padding: 10px 25px;
  margin: 15px;
  background-color: #DE388D;
  color: white;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all 0.15s ease;
  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
    background-color: #DE388D;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}
