.navbar-default {
  border: none;
  background: none;
  font-size: 1.7em;
}
.navbar-header {
  display: flex;
}

.navbar-border {
  border-bottom: 1px solid lightgrey;
  padding: 25px 0;
  margin: 0 0 25px 0;
}
