<section class="footer">
  <div class="container">
    <div class="footer-flex">
      <p>Made by RoeldJ</p>
      <%= link_to('', 'https://github.com/Roel4811', class: "fa fa-github fa-2x clean") %>
      <p>Questions or ideas? <%= link_to("Let us know!", contact_path) %></p>
    </div>
  </div>
</section>
