<section class="footer">
  <div class="container">
    <div class="footer-flex">
      <p>Made by RoeldJ</p>
      <p>Link to github</p>
      <p>Questions or ideas? Let me know!</p>
    </div>
  </div>
</section>
