<section class="banner">
  <div class="container">
    <div class="banner-title">
      <h1>Welcome to Nostalgique, a random pick of French songs translated to English!</h1>
    </div>
  </div>
</section>

<div id="song_cards"></div>
