<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div data="<%= @user.to_json %>" id="user_data"></div>
      <div id="add_song_card">

      </div>
    </div>
  </div>
</div>
