$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

$font: 'Alegreya Sans', "Helvetica Neue", Helvetica, sans-serif;
$default_blue: #3FA3FC;
$lightblue: #f2f5f8;
$grey: #a2a2a2cc;


// @import "../../src/stylesheet/shared/navbar";
@import "../../src/stylesheet/admin/artists";
@import "../../src/stylesheet/admin/songs";
@import "../../src/stylesheet/admin/buttons";

.font-bold {
  font-weight: 800;
}

body {
  font-size: 10px;
  h2 {
    font-weight: 400;
  }
  .main-content {
    background-color: $lightblue;
    min-height: calc(100vh - 66px);
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
}
.bue {
  color: $default_blue;
}

nav.navbar {
  padding: 10px 70px;
  border: none;
  background: $default_blue;
  font-size: 1.7em;
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.7em;
    a {
      font-size: 20px;
      color: white;
      display: inline-block;
      padding: 10px 20px;
      transition: all 0.2 ease;
    }
  }
  a.root-logo-link {
    padding: 10px 0;
    font-size: 1.5em;
    color: white;
    font-family: 'Russo One', sans-serif;
    &:hover {
      color: lightgrey;
      text-decoration: none;
    }
  }
  .navbar-border {
    border-bottom: 1px solid lightgrey;
    padding: 25px 0;
    margin: 0 0 25px 0;
  }
}

body.users.log_in {
  .main-content {
    background-color: #343643;
  }
}
.admin-log-in {
  margin-top: 50px;
  padding: 70px 100px;
  background-color: white;
  box-shadow: 0 0 6px 0 #c7c7c7;
  h1 {
    font-size: 3.5em;
  }
  form {
    .form-inputs {
      margin: 25px 0;
      .input.email {
        margin-bottom: 21px;
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
    input {
      border: none;
      border-bottom: 1px solid black;
      font-size: 1.8em;
      background-color: $lightblue;
    }
    label {
      font-size: 1.8em;
      display: block;
      color: $default_blue;
      margin-bottom: 0;
    }
  }
}

.remove-padding {
  padding: 0;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 66px);
  padding: 15px;
  background-color: #343643;
  .admin-filters {
    display: flex;
    flex-direction: column;
    .flex-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h2 {
        color: white;
      }
      .btn-round-transparent.blue {
        margin: 20px 0 10px;
      }
    }
    .flex-filter-item {
      label {
        display: block;
        color: $grey;
        font-weight: 400;
        font-size: 1.4em;
        margin: 25px 0 10px;
      }
      .wrapper input[type="text"] {
        position: relative;
      }
      input {
        font-family: 'FontAwesome';
        position: relative;
        content: "\f002";
        height: 34px;
        font-size: 1.5em;
        color: $grey;
        width: 100%;
        background-color: #343643;
        border: none;
        border-bottom: 1px solid $grey;
        &:focus {
          border-bottom: 1px solid $default_blue;
        }
      }
    }
  }
}

.records-table {
  h1 {
    font-size: 3em;
    padding: 35px;
    display: inline-block;
  }
  .action-buttons {
    margin: 25px 0 10px 0;
    padding: 35px;
    display: inline-block;
  }
  background-color: white;
  margin: 30px 20px 0 20px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(150,150,150,0.42);
  -moz-box-shadow: 0px 0px 10px 2px rgba(150,150,150,0.42);
  box-shadow: 0px 0px 10px 2px rgba(150,150,150,0.42);
  table {
    width: 100%;
    font-size: 1.4em;
    tr {
      height: 35px;
    }
    th {
      padding: 5px;
      text-transform: uppercase;
      &:first-child {
        padding-left: 40px;
      }
    }
    td {
      padding: 5px;
      &:first-child {
        padding-left: 40px;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: $lightblue;
      }
      .more-link {
        color: $default_blue;
      }
    }
  }
}
