/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

   @font-face {
    font-family: 'GT Walsheim';
    src:font-url('gt-walsheim-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'GT Walsheim bold';
    src:font-url('gt-walsheim-bold-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim medium';
    src:font-url('gt-walsheim-medium-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'GT Walsheim light';
    src:font-url('gt-walsheim-light-web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  $font: "GT Walsheim", "Helvetica Neue", Helvetica, sans-serif;
  $font-light: "GT Walsheim light", "Helvetica Neue", Helvetica, sans-serif;
  $font-medium: "GT Walsheim medium", "Helvetica Neue", Helvetica, sans-serif;
  $font-bold: "GT Walsheim bold", "Helvetica Neue", Helvetica, sans-serif;

 // @import "contact";
 // @import "shared/footer";
 // @import "shared/navbar";
 // @import "artists";
 // @import "song";
 // @import "songs";
 // @import "members";
