body.members {
  .log-in-card {
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    padding: 50px;
    form {
      height: 100%;
    }
    label {
      font-size: 1.7em;
      display: block;
    }
    .input {
      margin: 20px 0;
    }
    input.string {
      font-size: 1.7em;
      width: 70%;
      height: 25px;
      border: none;
      border-bottom: 1px solid grey;
    }
    .form-action {
      .button-standard {
        margin-left: 0;
      }
    }
  }
}

body.members.new {
  .sign-up-card {
    border-radius: 10px;
    margin: 100px auto;
    background: white;
    padding: 50px;
    form {
      height: 100%;
    }
    label {
      font-size: 1.7em;
      display: block;
    }
    .input {
      margin: 20px 0;
    }
    input.string {
      font-size: 1.7em;
      width: 70%;
      height: 25px;
      border: none;
      border-bottom: 1px solid grey;
    }
    .form-action {
      .button-standard {
        margin-left: 0;
      }
    }
  }
}
