<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="log-in-card">
        <h3>Reset Password</h3>
        <%= simple_form_for :member, url: password_reset_members_path, method: :post do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: 'email' %>
          <div class="form-action">
            <%= f.submit 'Reset password', class: "button-standard" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
